<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Add a ToDo Item:</h1>
    <!-- Form for user to add item(s) -->
    <form method="POST" action="add">
        <!-- Cross-Site-Forgery-Token (Makes sure the data is coming from our todo_list, not from an unknown source) -->
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <p>
                <button type="submit">Add Item</button>
            </p>
        </div>
    </form>


</body>

</html>